<div class="center-box" *ngIf="interview() as data">
    <div class="flex-space-between">
        <h3>Interview Details</h3>
        <div>
            <button>Edit</button>
        </div>
    </div>

    <div class="flex-space-between">
        <div style="margin-bottom: 10px;">
            <strong>Role:</strong> {{ data.role }}
        </div>
        <div style="margin-bottom: 10px;">
            <strong>Created By:</strong> {{ data.createdBy }}
        </div>
    </div>

    <div style="margin-bottom: 10px;">
        <strong>Experience in Years:</strong> {{ data.experience }}
    </div>

    <div class="flex-space-between">
        <div style="margin-bottom: 10px;">
            <strong>Skills:</strong>
            <ul>
                @for(skill of data.interviewSkills; track skill){
                    <li>{{ skill }}</li>
                }
                <!-- <li *ngFor = "let skill of data.interviewSkills "> {{ skill }}</li> -->
            </ul>
        </div>

        <div style="margin-bottom: 10px;">
            <strong>Status:</strong> {{ data.interviewStatus }}
        </div>
    </div>

    <div class="bottom-button">
        <button>Next</button>
    </div>
</div>