.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-box {
    max-width: 600px;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 8px;
}

.bottom-button {
    text-align: right;
}