<div class="center-box">
    <div class="flex-space-between">
        <h3>Interview Details</h3>
        <div>
            <button>Edit</button>
        </div>
    </div>

    <div class="flex-space-between">
        <div style="margin-bottom: 10px;">
            <strong>Role:</strong> Frontend Developer
        </div>
        <div style="margin-bottom: 10px;">
            <strong>Created By:</strong> John Doe
        </div>
    </div>

    <div style="margin-bottom: 10px;">
        <strong>Experience in Years:</strong> 3
    </div>

    <div class="flex-space-between">
        <div style="margin-bottom: 10px;">
            <strong>Skills:</strong>
            <ul>
                <li>Angular</li>
                <li>TypeScript</li>
                <li>HTML</li>
            </ul>
        </div>

        <div style="margin-bottom: 10px;">
            <strong>Status:</strong> Draft
        </div>
    </div>

    <div class="bottom-button">
        <button>Next</button>
    </div>
</div>